apiVersion: apps/v1
kind: Deployment
metadata:
  name: calibre
  labels:
    app: calibre
spec:
  replicas: 1
  selector:
    matchLabels:
      app: calibre
  template:
    metadata:
      labels:
        app: calibre
    spec:
      containers:
      - name: calibre
        image: lscr.io/linuxserver/calibre:arm64v8-8.15.0
        
        envFrom:
            - secretRef:
                name: calibre-container-env

        ports:
        - containerPort: 8080
        volumeMounts:
        - name: data
          mountPath: /config
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: calibre-data
